*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --l-red: #ddb9b9;
    --red: #ab7a7a;
    --l-yellow: #eaedc3;
    --yellow: #cfd397;
    --l-green: #bddac0;
    --green: #90ae93;
    --l-blue: #c6dce1;
    --blue: #96b4bb;
    --black: #111;
    --white: #fff;
}

/* Settings */
html{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--black);
    line-height: 28px;
}

.hero-btn{
    background-color: var(--white);
    padding: 15px;
    font-weight: 600;
    color: var(--black);;
    border: 2px solid var(--black);
    cursor: pointer;
    transition: 0.5s;
}
.hero-btn:hover{
    color: var(--white);
    background-color: var(--black);;
}
img{
    max-width: 100%;
}
.wrapper{
    margin: 2% 6%;
    display: grid;
    grid-gap: 20px;
}

/* Title */
.title img{
    width: 250px;
}

/* Header */
.header{
    position: relative;
    min-height: 50vh;
    width: 55%;
    margin: auto;
    background-image: url(img/panel.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 20px #111;
}
.header h1{
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    font-family: 'Cooper Black', sans-serif;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(
        220deg,
        var(--red) 39%,
        var(--yellow) 39%, var(--yellow) 49%,
        var(--green) 49%, var(--green) 59%,
        var(--blue) 49%, var(--blue) 89%
    );
    -webkit-background-clip: text;
}

/* Content */
.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 70px;
    grid-template-areas: 
    "färg"
    "mppj"
    "om"
    "kontakt";
}

.färg{
    grid-area: färg;
}
.mppj{
    grid-area: mppj;
}
.om{
    grid-area: om;
}
.kontakt{
    grid-area: kontakt;
}

.färg h2{
    color: var(--red);
    margin: 0 40px 40px;
    font-size: 30px;
    text-align: center;
}
.färg hr{
    background-color: var(--red);
    border: none;
    height: 5px;
    margin-bottom: 70px;
}
.mppj h2{
    color: var(--yellow);
    margin: 0 40px 40px;
    font-size: 30px;
    text-align: center;
}
.mppj hr{
    background-color: var(--yellow);
    border: none;
    height: 5px;
    margin-bottom: 40px;
}
.om h2{
    color: var(--green);
    margin: 0 40px 40px;
    font-size: 30px;
    text-align: center;
}
.om hr{
    background-color: var(--green);
    border: none;
    height: 5px;
    margin-bottom: 70px;
}
.kontakt h2{
    color: var(--blue);
    margin: 0 40px 40px;
    font-size: 30px;
    text-align: center;
}
.kontakt hr{
    background-color: var(--blue);
    border: none;
    height: 5px;
    margin-bottom: 70px;
}

.word-wrapper{
    width: 75%;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

/* Färgsättning */
.färg button{
    color: var(--red);;
    border: 2px solid var(--red);
}

.färg button:hover{
    background-color: var(--red);;
}

/* Mppj */
.mppj-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mppj-logo div{
    color: var(--green);
    line-height: 35px;
}
.mppj-logo p{
    font-weight: 100;
    font-size: 24px;
}
.mppj-logo h3{
    font-weight: 300;
    font-size: 34px;
}

.mppj-logo img{
    width: 200px;
}

.word-wrapper h3{
    color: var(--yellow);
    margin: 30px 0;
}

.word-wrapper a{
    text-decoration: none;
    color: red;
}

/* Om oss */
.om button{
    color: var(--green);;
    border: 2px solid var(--green);
    margin: 20px;
}

.om button:hover{
    background-color: var(--green);;
}

/* Kontakt */
.row{
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
    margin-top: 70px;
    justify-content: space-between;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    color: var(--blue);
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div span{
    text-align: left;
}
.contact-col div h5{
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--blue);
    font-weight: 600;
}
.contact-col div p{
    padding: 0;
    font-weight: 100;
}
.contact-col iframe{
    width: 600px;
}

/* -- Footer --*/
.footer{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: #555;
}
.footer hr{
    height: 3px;
    background-color: #666;
    border: none;
    margin: 10px 0;
}
.f-wrapper{
    margin: auto;
    width: 60%;
}
.f-links{
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
}
.fa-brands{
    color: #fff;
    font-size: 40px;
}
.f-info{
    padding-top: 0;
}
.f-links a{
    color: #aaa;
    font-size: 15px;
    text-decoration: none;
}
.f-wrapper p{
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
    font-style: italic;
}

/* Phone */
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    .contact-col iframe{
        width: 400px;
    }
}
